<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cursor</title>
    <style>
body {
    cursor: url(https://fastly.jsdelivr.net/gh/mirai-mamori/web-img/img/Nor.cur), auto;
}
a {
cursor: url(https://fastly.jsdelivr.net/gh/mirai-mamori/web-img/img/Ayu.cur), auto;
}
a:active {
    cursor: url(https://fastly.jsdelivr.net/gh/mirai-mamori/web-img/img/Work.cur), alias;
}
p {
cursor: url(https://fastly.jsdelivr.net/gh/mirai-mamori/web-img/img/Texto.cur), auto;
}
span{
cursor: url(https://fastly.jsdelivr.net/gh/mirai-mamori/web-img/img/no.cur), auto;
}
    </style>


</head>

<body>
    <br>

</body>
</html>