{% extends "base.html" %}
{% block content %}
{% csrf_token %}
<div class="five wide column">
    <br>
</div>

<div class="seven wide column">
    <div class="ui segment">
    <form action="" method="post">

        {% if status1 %}
        <div class="ui segment">
            <h3 class="ui teal header item"><i class="flag icon"></i>提交申请表：</h3>
        </div>

           {% csrf_token %}

        <div class="ui center aligned basic segment">
             <textarea name="content" id="post_content" cols="40" rows="20"></textarea>
        </div>


        <div class="ui center aligned basic segment">
        <botton class="ui basic orange circular button">
            <input type="submit" class="btn btn-default"></botton>
        </div>
             {% endif %}
            {% if status2 %}
            <h3 class="ui teal header item"><i class="flag icon"></i>你的申请已提交,请耐心等待管理员审核</h3>
            {% endif %}
            {% if status3 %}
            <h3 class="ui teal header item"><i class="flag icon"></i>恭喜,你的审核已通过,快去发帖吧</h3>
            {% endif %}
            {% if status4 %}
            <h3 class="ui teal header item"><i class="flag icon"></i>抱歉,你的审核未通过,请扫码联系管理员咨询或重新提交</h3>
            <div class="form-group">
            <label for="content">内容</label>
            <input type="text" id="content" class="form-control">
            </div>
            <input type="button" class="btn btn-default createapp_btn" value="我不服"><span class="error"></span>
            {% endif %}
    </form>
    </div>
</div>
{% endblock %}