<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/blog/bs/js/bootstrap.min.js"></script>
        <script src="{% static 'plugins/daterangepicker/moment.min.js' %}"></script>
        <script src="{% static 'plugins/fullcalendar/fullcalendar.min.js' %}"></script>
        <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
        <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <style>
            body {
                cursor: url(https://cdn.jsdelivr.net/gh/mirai-mamori/web-img/img/Nor.cur), auto;
            }
            button {
            cursor: url(https://cdn.jsdelivr.net/gh/mirai-mamori/web-img/img/Ayu.cur), auto;
            }
            a:active {
                cursor: url(https://cdn.jsdelivr.net/gh/mirai-mamori/web-img/img/Work.cur), alias;
            }
            a {
            cursor: url(https://cdn.jsdelivr.net/gh/mirai-mamori/web-img/img/Texto.cur), auto;
            }
            span{
            cursor: url(https://cdn.jsdelivr.net/gh/mirai-mamori/web-img/img/no.cur), auto;
            }
        </style>
    </head>
<body>

<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h1 class="ui teal header item">交小团</h1>
                    <a href="/index/1/1" class="m-item item m-mobile-hide"><i class="home icon"></i>实时</a>
                    <a href="/hotrank/1" class="m-item item m-mobile-hide"><i class="idea icon"></i>热门</a>
                    <a href="{% url 'searchtag' %}" class="m-item item m-mobile-hide"><i class="tags icon"></i>话题</a>
                    <a href="{% url 'myidol' %}" class="m-item item m-mobile-hide"><i class="info icon"></i>我的关注</a>
                    <a href="/{{ op.user.username }}/posts/{{ op.pk }}" class="m-item item m-mobile-hide"><i class="cube icon"></i>随机浏览</a>
                <div class="m-item  right item m-mobile-hide">
                    <div class="ui icon input">
                        <form action = "{% url 'index' 1 1 %}" method="get">
                            {% csrf_token %}
                            <input type ="text" size="10" name="keyword" placeholder="标题搜索"/>
                            <input type = "submit" value="搜索">
                        </form>
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
            {% if status3 %}
            <div class="ui inverted section divider"></div>
            <div class="ui inverted secondary stackable menu">
                <i class="star icon"></i>
                <h2 class="ui teal header item">团长特权</h2>
                    <a href="{% url 'createpost' %}" class="m-item item m-mobile-hide">>发帖</a>
                    <a href="{% url 'createp2t' %}" class="m-item item m-mobile-hide">>创建标签</a>
            </div>
            {% endif %}
        </div>
        <a href="#" class="ui menu toggle black icon button m-top-right m-hide">
            <i class="sidebar icon"></i>
        </a>
    </nav>

 <div class="m-padded-tb-max">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="three wide column">
                    <br>
                </div>

                <div class="thirteen wide column">
                    <div class="ui segment">
                        <h3>创建标签:</h3>
                        </div>

                    <div class="ui segment">
                          <form id="form">
                          {% csrf_token %}
                              <div class="ui secondary segment">
                         <div class="form-group">
                         <label for="title">帖子名:</label>
                        <input type="text" id="title" class="form-control">
                        </div>
                              </div>

                        <div class="ui secondary segment">
                        <div class="form-group">
                         <label for="tag">标签名: </label>
                        <input type="text" id="tag" class="form-control">
                         </div>
                        </div>

                        <input type="button" class="btn btn-default create2post_btn" value="submit" ><span class="error"></span>

                 </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>

<script src="/static/js/jquery-3.2.1.min.js"></script>

<script>
    $(".create2post_btn").click(function () {


        $.ajax({
            url: "",
            type: "post",
            data: {
                title: $("#title").val(),
                tag: $("#tag").val(),
                csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
            },
            success: function (data) {
                console.log(data);

                if (data) {
                    if (location.search){
                        location.href = location.search.slice(6)
                    }
                    else {
                         location.href = "/index/1/1"
                    }

                }
                else {
                    $(".error").text(data.msg).css({"color": "red", "margin-left": "10px"});
                    setTimeout(function(){
                         $(".error").text("");
                    },1000)

                }
            }
        })

    })

</script>

</body>
</html>