{% extends 'base.html' %}


{% block content %}
 <div class="post_list">
                {% for post in post_list %}
                    <div class="post-item clearfix">
                        <h5><a href="/{{ post.user.username }}/posts/{{ post.pk }}">{{ post.title }}</a></h5>
                        <div class="post-desc">
                            {{ post.desc }}
                        </div>
                        <div class="small pub_info pull-right">
                            <span>发布于 &nbsp;&nbsp;{{ post.create_time|date:"Y-m-d H:i" }}</span>&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-comment"></span>评论({{ post.comment_count }})&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-thumbs-up"></span>点赞({{ post.up_count }})&nbsp;&nbsp;
                        </div>
                    </div>
                    <hr>
                {% endfor %}

            </div>
{% endblock %}